In [2]:
# Importa biblioteca necessárias
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd

In [5]:
# Leitura da tabela que será utilizada 
WCup = pd.read_csv(r"C:\Users\Bruno Xavier\Desktop\Data Enginer\PythonDataScince\df_\results.csv")
WCup

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44757,2023-07-09,United States,Canada,2,2,Gold Cup,Cincinnati,United States,False
44758,2023-07-12,United States,Panama,1,1,Gold Cup,San Diego,United States,False
44759,2023-07-12,Jamaica,Mexico,0,3,Gold Cup,Paradise,United States,True
44760,2023-07-16,Kernow,Sápmi,2,1,CONIFA World Football Cup qualification,Falmouth,England,False
44761,2023-07-16,Mexico,Panama,1,0,Gold Cup,Inglewood,United States,True

In [ ]:
# times com mais vitórias em Copas do Mundo

# Primeiro localizar como está escrito copa do mundo em 'tournament'

df['tournament'].unique()

In [ ]:
# Achei ainda difícil de lozaliar então fiz outro filtro 

WCup = df[df['tournament'].str.contains('World Cup', case=False)]

In [ ]:
# Times com mais vitórias em Copas do Mundo

# Times que ganharam mais "em casa"
Vitorias_casa_Wcup = WCup[WCup['home_score'] > WCup['away_score']]

# Times que mais ganharam 'fora de casa'
Vitorias_fora_Wcup = WCup[WCup['home_score'] < WCup['away_score']]

# Contando vitórias por time da casa 
Count_casa_Wcup = Vitorias_casa_Wcup['home_team'].value_counts()

# Contando vitórias por time de fora 
Count_fora_Wcup = Vitorias_fora_Wcup['away_team'].value_counts()

# Vou somar agora para que seja atribuído as vitórias reais de cada time
Vportime_Wcup = Count_casa_Wcup.add(Count_fora_Wcup, fill_value=0)

# Ordenar os times pelo número de vitórias em ordem decrescente
V_Wcup = Vportime_Wcup.sort_values(ascending=False)

# Imprimir
V_Wcup